<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>704524798595-71sca1290af740mvosn6mblmoqluceko.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.704524798595-71sca1290af740mvosn6mblmoqluceko</string>
	<key>API_KEY</key>
	<string>AIzaSyA5tNBbO6y8JH5mp6dhIMhCx9n2sAAEJP0</string>
	<key>GCM_SENDER_ID</key>
	<string>704524798595</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.dmapp</string>
	<key>PROJECT_ID</key>
	<string>dmapp-130c5</string>
	<key>STORAGE_BUCKET</key>
	<string>dmapp-130c5.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:704524798595:ios:66a4606eddc41f4c7ba9b6</string>
</dict>
</plist>